*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #fff;
}

main{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

main .main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.add-product-title{
    text-align: center;
    color: white;
}
form{
    background-color: #bbb;
    color: white;
    width: 500px;
    margin: auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 5px;
    
}
@media (max-width:550px) {
    main .main-container{
        width: 80%;
        margin: auto;
    }
    form{
        width: 100%
    }
}

label{
    display: block;
    margin-bottom: 10px;
}
input{
    display: block;
    width: 100%;
    padding: 7px;
    border: 1px solid #fff;
    border-radius: 5px ;
}
textarea{
    display: block;
    width: 100%;
    padding: 7px;
    height: 70px;
    border: 1px solid black;
    border-radius: 5px ;
}

.add-btn{
    background-color: green;
    font-size: 1.1rem;
    width: 70px;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    border: 0px;
    padding: 0.4rem;
    align-self: center;
}
.add-btn:hover{
    opacity: 0.8;
}
.add-btn a{
    display: block !important;
    width: 100% !important;
}