button:hover {
    width: 113px;
    height: 38px;
    background-color: #b05a05;
 
 }
 
 @media (max-width: 600px) {
 
    .container {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       padding: 4rem;
 
    }
    .container div{
       margin: 2rem;
    }
 }
 
 .inbody {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
 }
 
 h1{
    font-size: 80px; 
    font-family:'Montserrat', sans-serif; 
    word-spacing: 8px; 
    color: #b95c00;
 }
 .container {
    display: flex;
    align-items: center;
    padding: 2.6rem;
    font-size: 20px;
 
 }
 
 
 button a {
    text-decoration: none;
    color: white;
    display: block;
    width: 100%;
 }
 
 text{
    font-family:'Poppins', sans-serif;
 }

 .descr{
   font-size: large;
 }
 
 .but {
    font-weight: bold;
    border: 0px;
    width: 110px;
    height: 35px;
    border-radius: 1rem;
    background-color: #c26910;
    color: white;
    margin: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
 }
 
 .img-body {
    width: 400px;
    height: 400px;
 }
 
 .container div {
    display: flex;
    align-content: center;
    align-items: center;
    margin: 1rem auto;
    padding: 1rem;
    
 }
 